$color-background: #EDF6F9;
$color-text: #006D77;
$color-accent: #E29578;
$color-secondary1: #FFDDD2;
$color-secondary2: #83CDBE;

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    background: linear-gradient(180deg, rgba(237, 246, 249, 0.5) 13.02%, rgba(210, 230, 234, 0.5) 48.96%, rgba(137, 188, 194, 0.5) 77.08%, rgba(85, 158, 166, 0.5) 88.02%, rgba(0, 109, 119, 0.5) 100%), #006D77;
    color: #006D77;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
button{
    background-color: transparent;
    border: none;

}