$color-background: #EDF6F9;
$color-text: #006D77;
$color-accent: #E29578;
$color-secondary1: #FFDDD2;
$color-secondary2: #83CDBE;

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #006D77;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
button {
    background-color: transparent;
    border: none;

}